@model Student_management_system.Models.Registation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Registation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Batch_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Batch_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phoneno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phoneno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
