@model Student_management_system.Models.Course


<h2>Create</h2>
<form method="post">
    <div>
        @Html.DisplayNameFor(a => a.course)
        <div>@Html.EditorFor(a => a.course)</div>
    </div>
    <div>
        @Html.DisplayNameFor(a => a.Duration)
        <div>@Html.EditorFor(a => a.Duration)</div>
    </div>
    <div><button class="btn btn-primary">Create</button></div>
    <div>@Html.ActionLink("Back to index", "index")</div>

</form>
